body, html {
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.turn {
    position: absolute;
    width: 150px;
    height: 80px;
    top: 100px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

#counter {
    left: 450px;
}

#clockwise {
    right: 450px;
}

#face {
    position: relative;
    margin: auto;
    bottom: 80px; 
    width: 300px;
    height: 300px;
}

.lilface {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    transition: transform 0.2s;
}

.lilface:hover {
    transform: scale(1.1);
}

#topface {
    top: 0px;
}

#leftface {
    right: 17%;
    top: 135px;
}

#rightface {
    left: 17%;
    bottom: 285px;
}

#topface {
    left: 5px;
}

#bottomface {
    left: 5px;
    bottom: 150px;
}

#backface {
    right: 35%;
    bottom: 527px;
}

.panel {
    position: absolute;
    width: 32.5%; 
    height: 32.5%;
    border: 5px solid black;
    transition: transform 0.2s;
}

.panel:hover {
    transform: scale(1.05);
    z-index: 1;
}

.lilpanel {
    position: absolute;
    width: 32.5%; 
    height: 32.5%;
    border: 0.875px solid black;
}

.topleft, .midleft, .bottomleft {
    left: 0%;
}

.topmid, .middle, .bottommid {
    left: 33.75%;
}

.topright, .midright, .bottomright {
    left: 67.5%;
}

.topleft, .topmid, .topright {
    top: 0%;
}


.midleft, .middle, .midright {
    top: 33.75%;
}

.bottomleft, .bottommid, .bottomright {
    top: 67.5%;
}

#colourpicker {
    position: absolute;
    right: 80px;
    top: 100px;
    width: 300px;
    height: 600px;
    background: linear-gradient(to bottom, rgb(232, 230, 250), rgb(213, 212, 227));
    border: 2px outset black;
    border-radius: 100px;
}

#boxtitle {
    font-size: 40px;
}


.colour {
    width: 110px;
    height: 110px;
    position: absolute;
    z-index: 1;
    border-radius: 25px;
    border: 2px black solid;
}

#red {
    top: 120px;
    left: 20px;
    background: red;
}

#blue {
    top: 120px;
    left: 167px;
    background: blue;
}

#yellow {
    top: 260px;
    left: 20px;
    background: yellow;
}

#green {
    top: 260px;
    left: 167px;
    background: green;
}

#orange {
    top: 400px;
    left: 20px;
    background: orange;
}

#white {
    top: 400px;
    left: 167px;
    background: white;
}