<!DOCTYPE html>
<html>
<head>
    <title>Rubiks Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 id="title">Solve a Rubiks Cube</h1>
    <div id="face">
        <div class="top left panel" id="topleft"></div>
        <div class="top mid-d panel" id="topmid"></div>
        <div class="top right panel" id="topright"></div>
        <div class="mid-a left panel" id="midleft"></div>
        <div class="mid-a mid-d panel" id="middle"></div>
        <div class="mid-a right panel" id="midright"></div>
        <div class="bottom left panel" id="bottomleft"></div>
        <div class="bottom mid-d panel" id="bottommid"></div>
        <div class="bottom right panel" id="bottomright"></div>
    </div>
</body>
</html>