<!DOCTYPE html>
<html>
<head>
    <title>Rubiks Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="title">Solve a Rubiks Cube</h1>
    <button type="button" class="turn" id="counter">Turn counter-clockwise</button>
    <button type="button" class="turn" id="clockwise">Turn clockwise</button>
    <div class="lilface" id="topface">
        <div class="lilpanel topleft" id="top0" style="background: {{ cube.top.panels[0] }};"></div>
        <div class="lilpanel topmid" id="top1" style="background: {{ cube.top.panels[1] }};"></div>
        <div class="lilpanel topright" id="top2" style="background: {{ cube.top.panels[2] }};"></div>
        <div class="lilpanel midleft" id="top3" style="background: {{ cube.top.panels[3] }};"></div>
        <div class="lilpanel middle" id="top8" style="background: {{ cube.top.colour }};"></div>
        <div class="lilpanel midright" id="top4" style="background: {{ cube.top.panels[4] }};"></div>
        <div class="lilpanel bottomleft" id="top5" style="background: {{ cube.top.panels[5] }};"></div>
        <div class="lilpanel bottommid" id="top6" style="background: {{ cube.top.panels[6] }};"></div>
        <div class="lilpanel bottomright" id="top7" style="background: {{ cube.top.panels[7] }};"></div>
    </div>

    <div class="lilface" id="leftface">
        <div class="lilpanel topleft" id="left0" style="background: {{ cube.left.panels[0] }};"></div>
        <div class="lilpanel topmid" id="left1" style="background: {{ cube.left.panels[1] }};"></div>
        <div class="lilpanel topright" id="left2" style="background: {{ cube.left.panels[2] }};"></div>
        <div class="lilpanel midleft" id="left3" style="background: {{ cube.left.panels[3] }};"></div>
        <div class="lilpanel middle" id="left8" style="background: {{ cube.left.colour }};"></div>
        <div class="lilpanel midright" id="left4" style="background: {{ cube.left.panels[4] }};"></div>
        <div class="lilpanel bottomleft" id="left5" style="background: {{ cube.left.panels[5] }};"></div>
        <div class="lilpanel bottommid" id="left6" style="background: {{ cube.left.panels[6] }};"></div>
        <div class="lilpanel bottomright" id="left7" style="background: {{ cube.left.panels[7] }};"></div>
    </div>

    <div id="face">
        <div class="panel topleft" id="front0" style="background: {{ cube.front.panels[0] }};"></div>
        <div class="panel topmid" id="front1" style="background: {{ cube.front.panels[1] }};"></div>
        <div class="panel topright" id="front2" style="background: {{ cube.front.panels[2] }};"></div>
        <div class="panel midleft" id="front3" style="background: {{ cube.front.panels[3] }};"></div>
        <div class="panel middle" id="front8" style="background: {{ cube.front.colour }};"></div>
        <div class="panel midright" id="front4" style="background: {{ cube.front.panels[4] }};"></div>
        <div class="panel bottomleft" id="front5" style="background: {{ cube.front.panels[5] }};"></div>
        <div class="panel bottommid" id="front6" style="background: {{ cube.front.panels[6] }};"></div>
        <div class="panel bottomright" id="front7" style="background: {{ cube.front.panels[7] }};"></div>
    </div>

    <div class="lilface" id="rightface">
        <div class="lilpanel topleft" id="right0" style="background: {{ cube.right.panels[0] }};"></div>
        <div class="lilpanel topmid" id="right1" style="background: {{ cube.right.panels[1] }};"></div>
        <div class="lilpanel topright" id="right2" style="background: {{ cube.right.panels[2] }};"></div>
        <div class="lilpanel midleft" id="right3" style="background: {{ cube.right.panels[3] }};"></div>
        <div class="lilpanel middle" id="right8" style="background: {{ cube.right.colour }};"></div>
        <div class="lilpanel midright" id="right4" style="background: {{ cube.right.panels[4] }};"></div>
        <div class="lilpanel bottomleft" id="right5" style="background: {{ cube.right.panels[5] }};"></div>
        <div class="lilpanel bottommid" id="right6" style="background: {{ cube.right.panels[6] }};"></div>
        <div class="lilpanel bottomright" id="right7" style="background: {{ cube.right.panels[7] }};"></div>
    </div>

    <div class="lilface" id="bottomface">
        <div class="lilpanel topleft" id="bottom0" style="background: {{ cube.bottom.panels[0] }};"></div>
        <div class="lilpanel topmid" id="bottom1" style="background: {{ cube.bottom.panels[1] }};"></div>
        <div class="lilpanel topright" id="bottom2" style="background: {{ cube.bottom.panels[2] }};"></div>
        <div class="lilpanel midleft" id="bottom3" style="background: {{ cube.bottom.panels[3] }};"></div>
        <div class="lilpanel middle" id="bottom8" style="background: {{ cube.bottom.colour }};"></div>
        <div class="lilpanel midright" id="bottom4" style="background: {{ cube.bottom.panels[4] }};"></div>
        <div class="lilpanel bottomleft" id="bottom5" style="background: {{ cube.bottom.panels[5] }};"></div>
        <div class="lilpanel bottommid" id="bottom6" style="background: {{ cube.bottom.panels[6] }};"></div>
        <div class="lilpanel bottomright" id="bottom7" style="background: {{ cube.bottom.panels[7] }};"></div>
    </div>

    <div class="lilface" id="backface">
        <div class="lilpanel topleft" id="back0" style="background: {{ cube.back.panels[0] }};"></div>
        <div class="lilpanel topmid" id="back1" style="background: {{ cube.back.panels[1] }};"></div>
        <div class="lilpanel topright" id="back2" style="background: {{ cube.back.panels[2] }};"></div>
        <div class="lilpanel midleft" id="back3" style="background: {{ cube.back.panels[3] }};"></div>
        <div class="lilpanel middle" id="back8" style="background: {{ cube.back.colour }};"></div>
        <div class="lilpanel midright" id="back4" style="background: {{ cube.back.panels[4] }};"></div>
        <div class="lilpanel bottomleft" id="back5" style="background: {{ cube.back.panels[5] }};"></div>
        <div class="lilpanel bottommid" id="back6" style="background: {{ cube.back.panels[6] }};"></div>
        <div class="lilpanel bottomright" id="back7" style="background: {{ cube.back.panels[7] }};"></div>
    </div>
    <div id="colourpicker">
        <h1 class="title" id="boxtitle">Colours</h1>
        <div class="colour" id="red"></div>
        <div class="colour" id="blue"></div>
        <div class="colour" id="yellow"></div>
        <div class="colour" id="green"></div>
        <div class="colour" id="orange"></div>
        <div class="colour" id="white"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>